services:
  zookeeper:
    image: debezium/zookeeper:2.7.3.Final
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
    networks:
      - app-network

  kafka:
    image: debezium/kafka:2.7.3.Final
    ports:
      - 9092:9092
    links:
      - zookeeper
    environment:
      - ZOOKEEPER_CONNECT=zookeeper:2181
    networks:
      - app-network

  connect:
    image: debezium/connect:2.7.3.Final
    ports:
      - 8084:8083
      - 5005:5005
    environment:
      - BOOTSTRAP_SERVERS=kafka:9092
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    command: ["redis-server", "--appendonly", "yes"]

  # Discovery Service
  discovery-service:
    build:
      context: ./discovery_service
      dockerfile: Dockerfile
    container_name: discovery-service
    ports:
      - "8761:8761"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  # Auth Service
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    env_file:
      - ./env/auth-service.env
    ports:
      - "8081:8081"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy

  # Gateway Service
  gateway-service:
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    container_name: gateway-service
    env_file:
      - ./env/gateway-service.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - EUREKA_SERVER_URL=http://discovery-service:8761/eureka/
    ports:
      - "8080:8080"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      redis:
        condition: service_healthy

  # User Service
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    env_file:
      - ./env/user-service.env
    ports:
      - "8088:8088"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      user-db:
        condition: service_started

  user-db:
    image: postgres:17-alpine
    container_name: user-db
    restart: always
    env_file:
      - ./env/user-db.env
    ports:
      - "5433:5432"
    volumes:
      - user-data:/var/lib/postgresql/data
    networks:
      - app-network

  orchestrator-db:
    image: postgres:17-alpine
    container_name: orchestrator-db
    restart: always
    env_file:
      - ./env/orchestrator-db.env
    ports:
      - "5434:5432"
    volumes:
      - orchestrator-data:/var/lib/postgresql/data
    networks:
      - app-network

  # Movie Service
  movie-service:
    build:
      context: ./movie-service
      dockerfile: Dockerfile
    container_name: movie-service
    env_file:
      - ./env/movie-service.env
    ports:
      - "8082:8082"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      movie-db:
        condition: service_started

  movie-db:
    image: postgres:17-alpine
    container_name: movie-db
    restart: always
    env_file:
      - ./env/movie-db.env
    ports:
      - "5432:5432"
    volumes:
      - movie-data:/var/lib/postgresql/data
    networks:
      - app-network

  # Notification Service
  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification-service
    env_file:
      - ./env/notification-service.env
    ports:
      - "8090:8090"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      notification-db:
        condition: service_started

  notification-db:
    image: postgres:17-alpine
    container_name: notification-db
    restart: always
    env_file:
      - ./env/notification-db.env
    ports:
      - "5435:5432"
    volumes:
      - notification-data:/var/lib/postgresql/data
    networks:
      - app-network

  # Payment Service
  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    container_name: payment-service
    env_file:
      - ./env/payment-service.env
    ports:
      - "8091:8091"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      payment-db:
        condition: service_started

  payment-db:
    image: postgres:17-alpine
    container_name: payment-db
    restart: always
    env_file:
      - ./env/payment-db.env
    ports:
      - "5440:5432"
    volumes:
      - payment-data:/var/lib/postgresql/data
    networks:
      - app-network

  # Reservation Service
  reservation-service:
    build:
      context: ./reservation-service
      dockerfile: Dockerfile
    container_name: reservation-service
    env_file:
      - ./env/reservation-service.env
    ports:
      - "8083:8083"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      reservation-db:
        condition: service_started

  reservation-db:
    image: postgres:17-alpine
    container_name: reservation-db
    restart: always
    env_file:
      - ./env/reservation-db.env
    ports:
      - "5436:5432"
    volumes:
      - reservation-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  # Seat Service
  seat-service:
    build:
      context: ./seat-service
      dockerfile: Dockerfile
    container_name: seat-service
    env_file:
      - ./env/seat-service.env
    ports:
      - "8089:8089"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      seat-db:
        condition: service_started

  seat-db:
    image: postgres:17-alpine
    container_name: seat-db
    restart: always
    env_file:
      - ./env/seat-db.env
    ports:
      - "5437:5432"
    volumes:
      - seat-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  # Show Service
  show-service:
    build:
      context: ./show-service
      dockerfile: Dockerfile
    container_name: show-service
    env_file:
      - ./env/show-service.env
    ports:
      - "8086:8086"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      show-db:
        condition: service_started

  show-db:
    image: postgres:17-alpine
    container_name: show-db
    restart: always
    env_file:
      - ./env/show-db.env
    ports:
      - "5438:5432"
    volumes:
      - show-data:/var/lib/postgresql/data
    networks:
      - app-network

  # Theater Service
  theater-service:
    build:
      context: ./theater-service
      dockerfile: Dockerfile
    container_name: theater-service
    env_file:
      - ./env/theater-service.env
    ports:
      - "8087:8087"
    networks:
      - app-network
    depends_on:
      discovery-service:
        condition: service_healthy
      theater-db:
        condition: service_started

  theater-db:
    image: postgres:17-alpine
    container_name: theater-db
    restart: always
    env_file:
      - ./env/theater-db.env
    ports:
      - "5439:5432"
    volumes:
      - theater-data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  user-data:
  movie-data:
  notification-data:
  reservation-data:
  seat-data:
  show-data:
  theater-data:
  payment-data:
  redis-data:
  orchestrator-data:

networks:
  app-network:
    driver: bridge
